* {
    font-family: 'Inter';
  }
  
  p {
    align-items: center;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
  }
  
  li, ul {
    list-style: none;
  }
  
  h3 {
    margin: 15px 0px;
    font-size: 19px;
    font-family: 'Inter';
    font-weight: 400;
  }
  
  
  .register-company-container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .side-blue {
    width: 490px;
    margin-left: 250px;
  }
  
  .register-company {
    display: flex;
    position: relative;
    width: 70%;
    padding: 3rem 3rem;
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 100vh;
    overflow-y: scroll;
    flex-wrap: nowrap; 
  }
  
  .register-header {
    justify-content: space-between;
  }
  
  .back-button {
    display: flex;
    margin-bottom: 10px;
  }
  
  .back-button a {
    font-weight: 600;
    text-decoration: none;
    color: #2B2C33;
  }
  
  .back-arrow {
    margin-top: 2px;
    color: #2B2C33;
  }
  
  .title h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Space Grotesk';
  }
  
  .title h2 {
    margin-top: 15px;
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 400;
  }
  
  .register-header h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #2A55D9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
  }
  
  .input-group-company {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    margin: 72px 0px 72px 0px;
  }
  
  .input-box-company {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-bottom: 30px;
  }
     
  .shift {
    margin-top: 40px;
  }
  
  #shift-group-company-label {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
  }
  
  .upload-img  {
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .upload-img img {
    width: 40px;
    height: 40px;
    padding-left: 43%;
  }
  .drop-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  
  .date-picker {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .select-date {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }

  .select-date :first-child {
    width: 160px;
  }

  .schedule-buttom-area {
    width: 100%;
    
  }
  
  .company-button-advance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  @media screen and (max-width: 1709px) {
    .side-blue {
      margin-left: 200px;
    }
  
    .register-student-container {
      height: 100%;
    }
  }
  
  @media screen and (max-width: 1695px) {
    .register-student-container {
      height: 100%;
    }
    .side-blue {
      margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .side-blue {
      display: none;
      margin-left: 0px;
    }
  
    .register-company {
      width: 100%;
    }

  }
  
  @media screen and (max-width: 999px) {
    .side-blue {
      display: none;
      margin-left: 0px;
    }
  
    .register-company {
      width: 100%;
    }
  
    .input-box-company {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      word-wrap: break-word;
      width: 300px;
      height: 55px;
    }
  
    .select-date {
      width: 100%;
      justify-content: space-around;
    }

  }
  
  @media screen and (max-width: 671px) {

    h3 {
      font-size: 16px;
    }

    .side-blue {
      display: none;
      margin-left: 0px;
    }
  
    .register-company {
      width: 100%;
      padding: 1.5rem 1.5rem;
    }


    .input-group-company {
      width: 100%;
    }

    .input-box-company {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      word-wrap: break-word;
      width: 300px;
      height: 55px;
      margin: 20px 0px;
    }
  
    .input-box-company :last-child {
      width: 298px;
    }

    .select-date {
      width: 100%;
      justify-content: space-between;
    }
    
  }