h1,
h2 {
    margin: 0;
}

.uni-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.uni-content {
    width: 70%;
    padding-left: 02%;
    padding-top: 02%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.back-button a {
    font-weight: 600;
    text-decoration: none;
    color: #2B2C33;
}

.input-group-uni {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-box-uni {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#shift-group-label {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}

.institution-info,
.students-amount,
.class-schedule {
    margin-top: 20px;
}

.class-schedule {
    display: flex;
    width: 358px;
    justify-content: space-between;
}

.register-uni-button {
    margin: 40px 0;
}