h1, h2 {
    margin: 0;
}

.uni-container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.uni-content {
    width: 1504px;
    padding-left: 02%;
    padding-top: 02%;
}

.back-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.back-button a {
    font-weight: 600;
    text-decoration: none;
    color: #2B2C33;
}
.input-group-company {
    display: flex;
    flex-direction: column;
  }
  .input-box-company {
    display: flex;
    justify-content: space-between;
  }
#shift-group-label {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}

.institution-info {
    margin-top: 02%;

}