.squad-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 269px;
    height: 188px;
    margin: 2rem;
    box-shadow: 0px 1px 3px;
    border-radius: 10px;
    cursor: pointer;
}
.squad-card h3 {
    color: #2A55D9;
    font-size: 22px;
    font-weight: 700;
}
.squad-name, .inst-name {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin: 1px;
}
.hour {
    color: #FDAE50;
    font-size: 24px;
    font-weight: 600;
    margin: 1px;
}
.modal-container {
    background-color: rgba(red, green, blue, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container-area {
    width: 855px;
    height: 775px;
    border-radius: 10px;
    background-color: #F5F5F5;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-container-header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container-header h1 {
    color: #2A55D9;
    font-size: 28px;
}

.row {
    width: 90%;
}
.exit-button {
    cursor: pointer;
}
.modal-container-select-area {
    width: 80%;
    height: 100%;
    margin-top: 40px;
}
.error-area {
    width: 100%;
    display: flex;
    justify-content: center;
}
.error-message-container {
    width: 320px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(211,47,47, 0.3);
    border-radius: 5px;
}
.error-area {
    display: flex;
}
.error-message-container p {
    font-size: 12px;
    margin-left: 5px;
}
.upper-area {
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.left-area, .right-area {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-area {
    align-items: flex-end;
}
.desafio-area {
    width: 260px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}
.desafio-title {
    margin: 10px;
}
.desafio-title h1 {
    font-size: 14px;
    font-family: 'Arial';
    color: rgb(110, 110, 110);
    font-weight: 200;
}
.desafio {
    margin: 10px;
}
.desafio p {
    text-align: justify;
    font-size: 12px;
}
.bottom-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.modal-container-button-area {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 139px;
}
/* Responsividade do modal */
@media screen and (max-width: 666px) {
    .modal-container-area {
        width: 393px;
        height: 100vh;
        border-radius: 0px;
    }

    .modal-container-select-area {
        margin-top: 10px;
    }

    .upper-area {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-area, .right-area {
        width: 100%;
        height: 190px;
        display: flex;
        align-items: center;
    }

    .left-area {
        margin-bottom: 10px;
    }

    .right-area {
        height: 240px;
    }

    .bottom-area {
        height: 120px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .modal-container-button-area {
        width: 75%;
    }
    
    .modal-container-button-area :nth-child(1n) {
        width: 120px;
        height: 47px;
    }
}

/* child modal styles start */
.child-modal-container {
    width: 60%;
}

.child-modal-title, .child-modal-extra, .table, .child-modal-btns{
    width: 98%;
    margin: 2%, 0.5%;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
.child-modal-title {
    color: #2A55D9;
}
/* child modal styles end */
.child-modal-title h2{
    font-family: 'Space Grotesk';
    font-size: xx-large;
    padding-bottom: 1.7%;
    padding-top: 0.4%;
}
.child-modal-title{
    text-align: center;
}
    
.child-modal-extra{
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
    .child-modal-message{
        width: 210px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background-color: #63c5fa9c;
        border-radius: 5px;
        color: #0288D1;
    }
.table{
    justify-content: space-between;
}
.child-modal-table {
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 0%;
    border-collapse: collapse;
    font-size: 0.9em;
    /* box-shadow: 0 0 20px rgba(49, 154, 192, 0.7); */
    box-shadow: 0 0 20px rgba(42, 85, 217, 0.7);
}
.child-modal-table th, .child-modal-table td {
    padding: 12px 15px;
}
    .child-modal-table thead tr {
        /* background-color: rgba(49, 154, 192, 0.7); */
        background-color: #2A55D9;
        color: #ffffff;
        text-align: left;
    }
    .child-modal-table tbody tr {
        border-bottom: 1px solid #7d7d7d;
    }
.child-modal-btns{
    display: flex;
    justify-self: center;
    width: 96%;
    padding: 1%;
    margin-left: 2%;
    justify-content: space-between;
}
    .child-modal-save, .child-modal-close {
        justify-content: end;
        padding-top: 1%;
    }  

/* Responsividade do child modal */
@media screen and (max-width: 1090px) {
    .child-modal-container {
        width: 100%;
    }
}

@media screen and (max-width: 666px) {
    .child-modal-title h2 {
        color: #2A55D9;
        font-size: 26px;
    }

    .table {
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    th :nth-child(2n) {
        display: none;
    }

    tr :nth-child(2n) {
        display: none;
    }

    .child-modal-btns {
        justify-content: space-around;
        margin-top: 10px;
    }

    .child-modal-save :first-child, .child-modal-close {
        width: 100px;
        height: 40px;
    }
}