/* Estilização da MainPage */
.main-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.main-content {
    /* width: 1504px; */
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.header h1 {
    margin-top: 10px;
    /* color: #319AC0; */
    color: #2A55D9;
}
.filter {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 0px;
}
.week, .residence {
    width: 180px;
}
hr {
    width: 99%;
}
.squads {
    width: 90%;
    height: 100vh;
    /* background-color: blue; */
    z-index: 5;
    max-height: 100vh;
    overflow-y: scroll;
}
.squads ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
/* Responsividade da Main Page */
@media screen and (max-width: 1709px) {
    .filter {
        width: 70%;
    }
}
@media screen and (max-width: 1250px) {
    .filter {
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .main-content {
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .squad-card {
        width: 161px;
        height: 112px;
        margin: 1.6rem;
    }
    .squad-card h3, .squad-name, .inst-name, .hour {
        font-size: 16px;
        margin-bottom: 0.9px;
    }
}
@media screen and (max-width: 960px) {
    .squad-card {
        margin: 1.6rem;
    }
}
@media screen and (max-width: 924px) {
    .squad-card {
        margin: 1.2rem;
    }
}
@media screen and (max-width: 884px) {
    .squad-card {
        margin: 1rem;
    }
}
@media screen and (max-width: 860px) {
    .squad-card {
        margin: 0.8rem;
    }
}
@media screen and (max-width: 840px) {
    .squad-card {
        margin: 0.5rem;
    }
}
@media screen and (max-width: 807px) {
    .squad-card {
        width: 188px;
        height: 131px;
        margin: 1.8rem;
    }
}
@media screen and (max-width: 800px) {
    .week, .residence {
        width: 140px;
    }
    .squad-generator :first-child{
        width: 140px;
        font-size: 12px;
    }
}
@media screen and (max-width: 763px) {
    .squad-card {
        margin: 1.2rem;
    }
}
@media screen and (max-width: 722px) {
    .squad-card {
        margin: 1rem;
    }
}
@media screen and (max-width: 706px) {
    .squad-card {
        margin: 0.8rem;
    }
}
@media screen and (max-width: 692px) {
    .header h1 {
        font-size: 24px;
    }
    .squad-card {
        width: 269px;
        height: 188px;
        margin: 2rem;
    }
    .squad-card h3, .squad-name, .inst-name, .hour {
        font-size: 22px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 660px) {
    .week, .residence {
        width: 100px;
    }
    .squad-generator :first-child{
        width: 100px;
        font-size: 12px;
    }
}
@media screen and (max-width: 586px) {
    .squad-card {
        width: 300px;
    }
}
@media screen and (max-width: 536px) {
    .squad-card {
        width: 215px;
        height: 150px;
    }
}
@media screen and (max-width: 450px) {
    .squads ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .squad-card {
        width: 186px;
        height: 131px;
        margin: 1rem;
    }
    .week, .residence {
        width: 80px;
    }
    .squad-generator :first-child{
        width: 80px;
        font-size: 12px;
    }
    
}
