.lateral-container {
    /* width: 375px; */
    width: 350px;
    height: 100vh;
    display: flex;
}

.lateral-nav {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: #319AC0; */
    background-color: #2A55D9;
    flex-direction: column;
}

.logo-area{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .small-orange-ball-area {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .small-orange-ball {
    margin: 0px 25px 0px 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(324.93deg, #FDAE50 0.74%, #319AC0 100%);
} */

.img-area {
    display: flex;
    width: 80%;
}

nav {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

nav li {
    color: #F5F5F5;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: left;
}

.lateral-button-area {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 20px;
}

/* Animação */
.lateral-button-area::after {
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.lateral-button-area:hover {
    color: #e5e5e5;
    z-index: 1;
}

.lateral-button-area:hover::after {
    width: 100%;
    z-index: -10;
    opacity: 1;
}

a {
    display: flex;
    font-family: 'Space Grotesk';
    font-size: 22px;
    font-weight: 600;
    color: #F5F5F5;
}

.exit-area {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exit {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #F5F5F5;
    margin-right: 15px;
}

.exit:hover {
    color: #e5e5e5;
}

@media screen and (max-width: 1100px) {
    .lateral-container {
        width: 200px;
    }

    .small-orange-ball {
        width: 100px;
        height: 100px;
    }

    nav ul {
        align-items: center;
        margin-right: 1.7rem;
    }

    .lateral-button-area {
        margin-left: 55px;
    }

    .button-label {
        display: none;
    }

    .exit {
        margin-left: 25px;
    }

    
}

@media screen and (max-width: 586px) {
    .lateral-container {
        width: 100px;
    }

    .lateral-button-area {
        margin-left: 22px;
    }

    .exit {
        margin-left: 27px;
    }
}

