.home-container {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
}
.presentation {
    padding-right: 8%;
    padding-left: 8%;
}
.info-section {
    display: flex;
    width: 84%;
    height: 100vh;
    padding-right: 8%;
    padding-left: 8%;
}
.info-area {
    width: 60%;
}
.info-text {
    margin-bottom: 20px;
}
.info-text h1 {
    font-size: 70px;
    font-family: 'Space Grotesk';
    padding-bottom: 20px;
}
.info-text p {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.info-button p {
    width: 40%;
    font-size: 20px;
    font-weight: 500px;
    
}
.button-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.info-images {
    width: 40%;
    height: 50%;
    background-color: red;
}
.info-images img{
    width: 24%;
}

.numbers {
    display: flex;
    width: 84%;
    height: 214px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #F8F8F8;
}