.home-container {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
}
.presentation {
    padding-right: 8%;
    padding-left: 8%;
}
.info-section {
    display: flex;
    justify-content: space-evenly;
    width: 84%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 5%;
}
.info-area {
    width: 65%;
}
.info-text {
    margin-bottom: 20px;
}
.info-text h1 {
    font-size: 70px;
    font-family: 'Space Grotesk';
    padding-bottom: 20px;
}
.info-text p {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.info-button{
    width: 85%;
}
.info-button p {
    font-size: 20px;
    font-weight: 500px;
    
}
.button-area {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.info-images {
    align-items: center;
    max-width: 32%;
}
.info-images img{
    width: 100%;
}

.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #F8F8F8;
}
    .numbers-text, .numbers-stud, .numbers-comp, .numbers-uni{
        display:flex ;
        align-items: center;
        max-width: 24%;
    }
    .numbers h2{
        font-weight: bold;
        color: #FCA749;
    }
    .icon-i, .icon-ii, .icon-iii{
        color: #FCA749;
        padding-left: 2px;
        border: 4px;
        border-radius: 20%;
        border-color: #FCA749;
    }


.advantage {
    padding-right: 8%;
    padding-left: 8%;
    max-width: 84%;
}
.advS, .advC {
    display: flex;
    justify-content: space-evenly;
    width: 84%;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 5%;
}
.text-left, .text-right {
    max-width: 55%;
    margin-bottom: 20px;
}
.advS-img , .advC-img {
    max-width: 34%;
    align-items: stretch;
}
    img{
        max-width:100%;
        max-height:100%;
    }
.advantage h3 {
    font-family: Space Grotesk;
    font-size: 60px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;

}
