.home-container {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
}
.presentation {
    padding-right: 8%;
    padding-left: 8%;
}
.info-section {
    display: flex;
    justify-content: space-evenly;
    width: 84%;
    padding-right: 8%;
    padding-left: 8%;
}
.info-area {
    width: 60%;
}
.info-text {
    margin-bottom: 20px;
}
.info-text h1 {
    font-size: 70px;
    font-family: 'Space Grotesk';
    padding-bottom: 20px;
}
.info-text p {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.info-button{
    width: 85%;
}
.info-button p {
    font-size: 20px;
    font-weight: 500px;
    
}
.button-area {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.info-images {
    width: 35%;
    height: 50%;
    background-color: red;
}
.info-images img{
    width: 24%;
}

.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84%;
    height: 214px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #F8F8F8;
}
    .numbers-text, .numbers-stud, .numbers-comp, .numbers-uni{
        width: 23%;
    }