h1{
    font-family: 'Space Grotesk';
    letter-spacing: -3%;
    font-weight: bold;
}

.login-container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .side-blue {
    width: 490px;
    margin-left: 250px;
  }
  
  .login-area {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 94vh;
    /* align-content: center; */
    justify-content: center;
    margin: 3%;
  }
.login-title{
    padding-bottom: 2%;
}
.login-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-button-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}
.user {
    display: flex;
    margin-bottom: 10px;
}
.password {
    display: flex;
}
    .icon {
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        /* background-color: #FDAE50; */
        border-radius: 5px;
    }